body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(238, 234, 17, 0.76);
    color: #1916f0ef;
    padding: 30px;
}
 h1 {
    color:rgb(216, 19, 19);
    text-align: center;
}
p {
    font-size: 30px;
    line-height: 1.5;
}
h1:hover {
    color:rgb(15, 2, 5)
}
p {
    border: 5px solid #c21c53;
    padding: 15px;
}
p1 {
    border: 10px solid blanchedalmond;
    padding: 15px;
    font-size: 42px;
    line-height: 2.2;
}